body {
    width: 100%;
    background-color:#99ddf7;
}

.navbar {
    background: #b22028;
    border-color: transparent;
    color: white;
}

img {
    width: 201px;
    padding-bottom: 10px;
}

.image {
    width: 100%;
}

a {
    color: white;
}

.btn {
    color: black;
    background-color: red;
    margin-right: 15px;

}

#voteButtonDiv {
    margin-right: 5px;
}

#voteButtonEnglish {
    margin-right: 5px:
}

.voters {
    width: 180px;
}

.panel-heading{
    background-color: #b22028;
    color: white;
    text-shadow: -1.5px 1.5px #000000;
    font-weight: bold;
}

.navbar-default .navbar-brand {
    color: white;
}

.newsResultDiv{
    font-weight: bold;
    color: blue;
}


img{
    margin: auto;
    display: block;
    width: 100%;
}